attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
#etherscan==0.3.0
idna==3.2
itsdangerous==2.0.1
#py-etherscan-api==0.8.0
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
requests-cache==0.7.4
six==1.16.0
url-normalize==1.4.3
urllib3==1.26.6
pandas==1.3.3
progressbar2
openpyxl
web3
nltk
seaborn
sklearn
wordcloud
torch-geometric
torch